#robot-container {
    position: absolute;
    width: 700px;           /* Lebar container */
    height: 700px;          /* Tinggi container */
    top: 50%;               /* Posisi vertikal tengah */
    left: 60%;              /* Geser ke kanan */
    transform: translate(-50%, -50%); /* Biar pas di tengah */
    z-index: 10;
}

#viewer {
    width: 100%;
    height: 100%;
}

#viewer {
    width: 100%;
    height: 100%;
    display: block;
}

#viewer canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.landing-page {
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: "Urbanist", sans-serif;
}

.landing-page .div {
    background-color: #191919;
    overflow: hidden;
    width: 1920px;
    height: 5196px;
    position: relative;
}

.landing-page .overlap {
    position: absolute;
    width: 3097px;
    height: 4894px;
    top: -19px;
    left: -581px;
}

.landing-page .group {
    position: absolute;
    width: 3097px;
    height: 2564px;
    top: 1422px;
    left: 0;
}

.landing-page .overlap-group {
    position: relative;
    height: 2564px;
}

.landing-page .BLUE-WAVE {
    top: 0;
    left: 77px;
    filter: blur(16.9px);
    display: flex;
    flex-direction: column;
    width: 3020px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
}

.landing-page .blue-wave {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1253px;
}

.landing-page .blue-WAVE-wrapper {
    top: 1291px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 3020px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
}

.landing-page .blue-WAVE {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1270.2px;
    margin-top: -8.6px;
    margin-bottom: -8.6px;
}

.landing-page .frame {
    display: flex;
    width: 1712px;
    align-items: center;
    gap: 76px;
    position: absolute;
    top: 867px;
    left: 688px;
}

.landing-page .frame-2 {
    display: flex;
    flex-direction: column;
    width: 755px;
    align-items: flex-start;
    gap: 214px;
    position: relative;
}

.landing-page .what-is-GRAD-journey {
    position: relative;
    align-self: stretch;
    height: 160px;
    margin-top: -1px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 70px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .what-are-the {
    position: relative;
    align-self: stretch;
    height: 266px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 70px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .frame-3 {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 867px;
    align-items: center;
    gap: 13px;
    position: relative;
}

.landing-page .frame-4 {
    position: relative;
    width: 10px;
    height: 91px;
    background-color: #ffffff;
}

.landing-page .circle {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.landing-page .frame-5 {
    position: relative;
    width: 10px;
    height: 305px;
    background-color: #ffffff;
}

.landing-page .frame-6 {
    position: relative;
    width: 10px;
    height: 220px;
    background-color: #ffffff;
}

.landing-page .frame-7 {
    display: flex;
    flex-direction: column;
    width: 738px;
    align-items: flex-start;
    gap: 160px;
    position: relative;
}

.landing-page .text {
    position: relative;
    align-self: stretch;
    height: 235px;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .text-wrapper {
    position: relative;
    align-self: stretch;
    height: 411px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .overlap-wrapper {
    position: absolute;
    width: 2172px;
    height: 1223px;
    top: 3671px;
    left: 424px;
}

.landing-page .overlap-2 {
    position: relative;
    height: 1223px;
}

.landing-page .GREY-WAVE {
    display: flex;
    flex-direction: column;
    width: 2172px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.landing-page .WAVE-BACKGROUND {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1203px;
}

.landing-page .frame-8 {
    display: flex;
    flex-wrap: wrap;
    width: 1659px;
    align-items: flex-start;
    gap: 39px 64px;
    position: absolute;
    top: 90px;
    left: 312px;
}

.landing-page .frame-9 {
    position: relative;
    width: 781px;
    height: 502px;
    border-radius: 58px;
    overflow: hidden;
    background: linear-gradient(112deg, rgba(48, 49, 51, 1) 12%, rgba(16, 62, 93, 1) 59%, rgba(37, 120, 176, 1) 100%);
}

.landing-page .img {
    position: absolute;
    width: 123px;
    height: 123px;
    top: 53px;
    left: 319px;
    object-fit: cover;
}

.landing-page .text-wrapper-2 {
    position: absolute;
    width: 575px;
    top: 208px;
    left: 94px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .p {
    position: absolute;
    width: 577px;
    top: 309px;
    left: 102px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 54px;
}

.landing-page .frame-10 {
    position: relative;
    width: 781px;
    height: 502px;
    border-radius: 58px;
    overflow: hidden;
    background: linear-gradient(111deg, rgba(48, 49, 51, 1) 7%, rgba(16, 62, 93, 1) 59%, rgba(37, 120, 176, 1) 93%);
}

.landing-page .text-wrapper-3 {
    position: absolute;
    width: 647px;
    top: 208px;
    left: 67px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landing-page .text-2 {
    position: absolute;
    width: 577px;
    top: 309px;
    left: 92px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 54px;
}

.landing-page .frame-11 {
    position: relative;
    width: 781px;
    height: 502px;
    border-radius: 58px;
    overflow: hidden;
    background: linear-gradient(112deg, rgba(48, 49, 51, 1) 0%, rgba(16, 62, 93, 1) 56%, rgba(37, 120, 176, 1) 100%);
}

.landing-page .text-wrapper-4 {
    position: absolute;
    width: 670px;
    top: 216px;
    left: 59px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .text-3 {
    position: absolute;
    width: 663px;
    top: 284px;
    left: 59px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 54px;
}

.landing-page .data-export {
    position: absolute;
    width: 606px;
    top: 216px;
    left: 87px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .file-transfer {
    position: absolute;
    width: 123px;
    height: 123px;
    top: 46px;
    left: 329px;
    object-fit: cover;
}

.landing-page .frame-12 {
    position: absolute;
    width: 1957px;
    height: 761px;
    top: 1170px;
    left: 581px;
    background-color: #141414;
}

.landing-page .frame-wrapper {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 683px;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 39px;
    left: 54px;
}

.landing-page .frame-13 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 683px;
    background-color: #191919;
    border-radius: 38px;
    overflow: hidden;
    box-shadow: -1px 14px 15.7px #00000040;
}

.landing-page .LOGIN-VECTOR {
    position: absolute;
    width: 212px;
    height: 310px;
    top: 109px;
    left: 102px;
}

.landing-page .text-4 {
    position: absolute;
    width: 322px;
    top: 438px;
    left: 37px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 683px;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 39px;
    left: 1449px;
}

.landing-page .text-5 {
    position: absolute;
    width: 322px;
    top: 467px;
    left: 37px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .ADMIN-VECTOR {
    position: absolute;
    width: 352px;
    height: 291px;
    top: 148px;
    left: 32px;
}

.landing-page .frame-14 {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 683px;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 39px;
    left: 984px;
}

.landing-page .overlap-group-2 {
    position: relative;
    width: 382px;
    height: 505px;
    top: 89px;
    left: 14px;
}

.landing-page .text-6 {
    position: absolute;
    width: 322px;
    top: 370px;
    left: 23px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .DATA-COLECTION {
    position: absolute;
    width: 382px;
    height: 392px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.landing-page .frame-15 {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: 683px;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 39px;
    left: 519px;
}

.landing-page .COMPLETE-TRACER {
    position: absolute;
    width: 272px;
    height: 322px;
    top: 106px;
    left: 72px;
}

.landing-page .text-7 {
    position: absolute;
    width: 322px;
    top: 441px;
    left: 37px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 45px;
}

.landing-page .groub {
    position: absolute;
    width: 2082px;
    height: 1173px;
    top: 0;
    left: 470px;
}

.landing-page .overlap-3 {
    position: relative;
    height: 1173px;
}

.landing-page .WAVE-BACKGROUND-wrapper {
    display: flex;
    flex-direction: column;
    width: 2082px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.landing-page .WAVE-BACKGROUND-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1144px;
}

.landing-page .frame-16 {
    display: flex;
    flex-direction: column;
    width: 855px;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
    top: 408px;
    left: 283px;
}

.landing-page .frame-17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame-18:hover {
    opacity: 0.9;
    transform: scale(1.01);
    transition: all 0.2s ease;
}

.landing-page .heading {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 72px;
}

.landing-page .span {
    font-weight: 600;
}

.landing-page .text-wrapper-5 {
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 115.2px;
}

.landing-page .text-wrapper-6 {
    font-weight: 600;
    font-size: 96px;
    line-height: 115.2px;
}

.landing-page .text-wrapper-7 {
    font-family: "Urbanist", sans-serif;
    font-weight: 800;
    font-size: 96px;
    line-height: 115.2px;
}

.landing-page .paragraph {
    position: relative;
    align-self: stretch;
    height: 160px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 48px;
}

.landing-page .frame-18 {
    display: flex;
    width: 234px;
    height: 75px;
    align-items: center;
    justify-content: center;
    gap: 29px;
    padding: 5px 27px;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid;
    border-color: #7d7d7d;
    background: linear-gradient(276deg, rgba(239, 251, 255, 1) 13%, rgba(31, 163, 253, 1) 75%, rgba(15, 91, 143, 1) 100%);
}

.landing-page .text-8 {
    position: relative;
    width: fit-content;
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
}

.landing-page .header {
    display: flex;
    width: 1920px;
    align-items: center;
    justify-content: space-between;
    padding: 22px 89px;
    position: absolute;
    top: 18px;
    left: 111px;
    background-color: #111111;
}

.landing-page .frame-19 {
    display: inline-flex;
    align-items: center;
    gap: 22px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .GRAD-JOURNEY-LOGO {
    position: relative;
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.landing-page .text-9 {
    position: relative;
    width: fit-content;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 54px;
    white-space: nowrap;
}

.landing-page .frame-20 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 69px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .frame-21 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landing-page .container {
    display: flex;
    width: 1920px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 162px;
    position: absolute;
    top: 5091px;
    left: 0;
    background-color: #111111;
}

.landing-page .sub-link-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 38px;
    padding: 10px 0px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .link {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: var(--absolutewhite);
    font-size: 18px;
    letter-spacing: -0.11px;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 14px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--grey-08);
    border-radius: 58px;
    overflow: hidden;
}

.landing-page .icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.landing-page .group-2 {
    position: absolute;
    width: 1340px;
    height: 169px;
    top: 4892px;
    left: 182px;
}

.landing-page .text-wrapper-9 {
    position: absolute;
    top: 0;
    left: 989px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: var(--grey-60);
    font-size: 20px;
    letter-spacing: -0.12px;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .frame-22 {
    display: flex;
    flex-direction: column;
    width: 193px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 1145px;
}

.landing-page .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: var(--grey-60);
    font-size: 20px;
    letter-spacing: -0.12px;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .link-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .link-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.11px;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .link-3 {
    position: relative;
    width: fit-content;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.11px;
    line-height: 24px;
}

.landing-page .link-container-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 33px;
    left: 989px;
}

.landing-page .link-4 {
    position: relative;
    width: fit-content;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.11px;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .frame-23 {
    display: inline-flex;
    align-items: center;
    gap: 36px;
    position: absolute;
    top: 32px;
    left: 0;
}

.landing-page .chatgpt-image-may {
    position: relative;
    width: 135px;
    height: 135px;
    object-fit: cover;
}

.landing-page .text-10 {
    position: relative;
    width: fit-content;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: 96px;
    white-space: nowrap;
}

